:root {
  --main-bg-color: #dc965a;
  --sec-bg-color: #b98050;
}
* {
  color: white;
}
.session-container {
  margin: 50% auto 5%;
  width: 400px;
  padding: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: var(--sec-bg-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.session-title {
  padding-bottom: 25px;
  color: white;
}
.session-card {
  padding: 25px;
  background-color: var(--main-bg-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.session-card-input {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 200px;
  text-align: center;
  border: none;
  background-color: var(--sec-bg-color);
  color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.session-card-input:focus {
  outline: none;
  border: none;
  width: 100%;
  transition: 0.3s ease-out;
}
.session-card-input::placeholder {
  color: rgb(205, 194, 194);
}
.session-card-btn {
  padding: 5px;
  cursor: pointer;
  background-color: var(--sec-bg-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.add-session {
  padding: 20px;
  cursor: pointer;
  background-color: var(--main-bg-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  transition: 0.3s ease-out;
  transform: scale(0.9);
}
.li-container {
  margin-top: 30px;
  padding: 15px;
  background-color: var(--main-bg-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.li-exercice-choice {
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--sec-bg-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.btn-submit {
  margin-top: 30px;
  height: 30px;
  width: 70px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--sec-bg-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.btn-submit:hover {
  transition: 0.3s ease-out;
  transform: scale(0.9);
}
